// This is a personal academic project. Dear PVS-Studio, please check it.
// PVS-Studio Static Code Analyzer for C, C++, C#, and Java: https://pvs-studio.com
<html>
<head>
    <title>Добавление</title>
    <link rel="stylesheet">
</head>
<body>
    <style>
        body {
            background: deeppink;
            color: #fff; /* Цвет текста */
        }
    </style>
    <div class="text-center">
<form method="post">
            <input type="hidden" name="FilmId" />
    <label>Название:</label><br />
        <input type="text" name="FilmName" /><br /><br />
    <label>Продолжительность:</label><br />
        <input type="text" name="Long" /><br /><br />
    <label>Жанр:</label><br />
        <input type="text" name="Janr" /><br /><br />
    <label>Страна:</label><br />
        <input type="text" name="Country" /><br /><br />
    <label>Рейтинг:</label><br />
        <input type="text" name="Rating" /><br /><br />
    <label>Возрастные ограничения:</label><br />
        <input type="text" name="Old" /><br /><br />
            <input type="submit" value="Добавить" asp-action="Index1" /><br /><br /><br /><br /><br /><br />
</form>
        </div>
</body>
</html>
