@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">ВХОД В ЛИЧНЫЙ КАБИНЕТ ПОЛЬЗОВАТЕЛЯ</h1>

   
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проект</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">
    

    <style>
        body {
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            background-image: url(https://videoshow.ru/images/how-to-add-falling-snow-effect-to-video_09.gif);
            color: white; /* Цвет текста */
        }

        .image-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .square-image {
            width: 400px;
            height: 400px;
            /*margin: 5px;*/
        }

        .square-image1 {
            width: 800px;
            height: 500px;
           /* margin: 5px;*/
            margin-left: 250px;
        }

        .square-image2 {
            width: 900px;
            height: 300px;
            margin-left: 200px;
        }

    </style>
</head>

</html>
 
<div >
    <img src="https://usagif.com/wp-content/uploads/gify/christmas-lights-transparent-background-13-usagif.gif" class="square-image2">
</div>

<div class="text-center">
    
    <div class="image-container" id="imageContainer">
        <img src="https://abrakadabra.fun/uploads/posts/2022-02/thumbs/1644054501_13-abrakadabra-fun-p-kotik-s-prozrachnim-fonom-42.png" class="square-image">
        
       
        <form method="post" action="Login">
            <div>
                <label for="login">Логин: </label>
                <input type="text" id="login" name="login" required>
            </div>
            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <input type="submit" value="Войти">
            </div>
        </form>

        <img src="https://abrakadabra.fun/uploads/posts/2022-02/thumbs/1644054472_23-abrakadabra-fun-p-kotik-s-prozrachnim-fonom-56.png" class="square-image">
  </div>


</div>

