@{
    ViewData["Title"] = "Home Page";
}

<div class="image-container" id="imageContainer">
    <img src="images/1.jpg" class="square-image">
    <img src="images/2.jpg" class="square-image">
    <img src="images/3.jpg" class="square-image">
    <img src="images/7.jpg" class="square-image">
    <img src="images/8.jpg" class="square-image">
    <img src="images/9.jpg" class="square-image">
</div>


<div class="text-center">
    <h1 class="display-4">Добро пожаловать в наш кинотеатр TINNITUS</h1>
    <p>Мы стараемся и работаем для Вас!</p>
    <p>Приятного просмотра!</p>
</div>

<div class="image-container" id="imageContainer">
    <img src="images/4.jpg" class="square-image">
    <img src="images/5.jpg" class="square-image">
    <img src="images/6.jpg" class="square-image">
    <img src="images/71.jpg" class="square-image">
    <img src="images/81.jpg" class="square-image">
    <img src="images/91.jpg" class="square-image">
</div>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проект</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">


    <style>
        body {
            background-image: url(images/background.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            /*-webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;*/
            background-size: cover;
            color: white;
            font: 500;
        }

        .image-container {
            display: flex;
            justify-content: space-between;
            /*align-items: center;*/
            margin-left: -270px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .square-image {
            width: 200px;
            height: 300px;
            margin: 54px;
        }

        .knopka {
            background: -moz-linear-gradient(#D0ECF4, #EE66B3, #D0ECF4);
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #EE66B3));
            padding: 3px 7px;
            color: #333;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #666;
            width: 180px;
            margin-left: 550px;
            margin-top: 100px;
        }

    </style>

    <div class="text-center">
        <div class="knopka">
            <a class="nav-link text-dark" asp-controller="Filmi" asp-action="Privacy" align="right"><b>Войти в аккаунт</b></a>
        </div>
    </div>
</head>

</html>